#bs {
    background-color: #f9fbff;
}

#selfimage {
    width: 300px;
    height: 300px;
    grid-column: 2 / span 1;
}

#firstName {
    grid-column: 1 / span 1;
}

#lastName {
    grid-column: 3 / span 1;
}

#navOuterContent {
    padding: .5em 6em;
    color: black;
}

#navInnerContent {
    color: black;
}

nav.shrink {
    background-color: rgb(64,64,64);
    height: 60px;
    padding-top: 0px;
}

.nav {
    display: grid;
    grid-template-columns: 1fr;
    position: fixed;
    justify-items: center;
    align-items: center;
    height: 90px;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    background: #fff;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.container {
    padding-top: 163px;
}

.nav-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 1140px;
}

.header-container {
    display: grid;
    grid-template-columns: auto 300px auto;
    justify-items: center;
}

.media-text-container {
    margin-left: 5px;
}

#yelpCamp{
    padding-top: 8px;
    padding-left: 65px;
    margin-right: 16px;
    width: 300px;
    height: 150px;
    font-size: 28px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.media {
    margin: 10px 10px;
}

#tbLogo {
    width: 300px;
    height: 150px;
}

#aleksLogo {
    width: 300px;
    height: 150px;
}

.smallLogo {
    width: 64px;
    height: 64px;
    margin-right: 5px;
    margin-left: 5px;
}

.filledLogo {
    height: 42px;
    width: 42px;
    margin-right: 5px;
    margin-left: 5px;
}

